format = """
$directory$git_branch$git_status$character"""

add_newline = false

[directory]
style             = "bold #F5CBA7"
format            = "[$path]($style) "
truncation_length = 1
truncation_symbol = ""
read_only         = " 󰌾"

[git_branch]
symbol            = " "
style             = "#E67E22"
format            = "[$symbol$branch]($style) "
truncation_symbol = "…"

[git_status]
style      = "#C0392B"
format     = "[$all_status$ahead_behind]($style) "
conflicted = "="
ahead      = "⇡${count}"
behind     = "⇣${count}"
diverged   = "⇡${ahead_count}⇣${behind_count}"
untracked  = "?"
stashed    = "\\$"
modified   = "!"
staged     = "+"
renamed    = "»"
deleted    = "✘"

[character]
success_symbol = "[❯](bold #E59866)"
error_symbol   = "[❯](bold #922B21)"
vimcmd_symbol  = "[❮](bold #E67E22)"
