prSections:
  - title: My Pull Requests
    filters: is:open author:@me
  - title: Needs My Review
    filters: is:open review-requested:@me
  - title: Involved
    filters: is:open involves:@me -author:@me
issuesSections:
  - title: My Issues
    filters: is:open author:@me
  - title: Assigned
    filters: is:open assignee:@me
  - title: Involved
    filters: is:open involves:@me -author:@me
defaults:
  preview:
    open: true
    width: 50
  prsLimit: 20
  issuesLimit: 20
  view: prs
  layout:
    prs:
      updatedAt:
        width: 7
      repo:
        width: 15
      author:
        width: 15
      assignees:
        width: 20
        hidden: true
      base:
        width: 15
        hidden: true
      lines:
        width: 16
    issues:
      updatedAt:
        width: 7
      repo:
        width: 15
      creator:
        width: 10
      assignees:
        width: 20
        hidden: true
  refetchIntervalMinutes: 30
keybindings:
  issues: []
  prs: []
repoPaths: {}
pager:
  diff: delta
showAuthorIcons: true
smartFilteringAtLaunch: true

ui:
  sectionsShowCount: true
table:
  showSeparators: true
  compact: false
colors:
  text:
    primary: "#ffffff"
    secondary: "#c6c6c6"
    inverted: "#303030"
    faint: "#8a8a8a"
    warning: "#800000"
    success: "#008000"
  background:
    selected: "#808080"
  border:
    primary: "#808080"
    secondary: "#c0c0c0"
    faint: "#000000"
  inline:
    icons:
      newcontributor: "077"
      contributor: "075"
      collaborator: "178"
      member: "178"
      owner: "178"
      unknownrole: "178"
icons:
  inline:
    newcontributor: "󰎔"
    contributor: ""
    collaborator: ""
    member: ""
    owner: "󱇐"
    unknownrole: "󱐡"

theme:
  colors:
    text:
      primary: "#D1D5DB" # Light gray for primary text
      secondary: "#A3B1C2" # Muted blue-gray for secondary text
      inverted: "#1F2937" # Dark background for inverted text
      faint: "#6B7280" # Soft gray for faint text
      warning: "#F87171" # Soft red for warnings
      success: "#34D399" # Soft green for success messages
    background:
      selected: "#3B3F46" # Dimmed dark background for selected items
    border:
      primary: "#4B5563" # Dimmed border for primary elements
      secondary: "#9CA3AF" # Lighter border for secondary elements
      faint: "#D1D5DB" # Very light border for faint elements
